body{
  background-color: black;
  padding: 0px;
  margin: 0px;
}

.container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 500px;
  padding: 5px 5px;
  margin: 0px auto;
  margin-top: 15%;
  border: 5px solid #1EDDFF;
  border-radius: 2%;
}

.pad_row{
  align-items: center;
  display: flex;
  margin: 0px auto;
  width : 500px;
  height : 100px;
  background: black;
}

.pad{
  flex-grow: 1;
  height: 90px;
  background : radial-gradient(circle, #C0FFFF,	#F4FFFF);
  margin: 5px 5px;
  border-radius: 10%;
}
